.editor-container {
  display: flex;
  flex-direction: column;
}
.decoding-notice {
  pointer-events: none;
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: #333333CC;
  text-align: center;
  justify-content: center;
  font-size: 20px;
  padding-top: 20vh;
}
@keyframes dotdotdot {
  0% { content: '.' }
  33% { content: '.' }
  66% { content: '..' }
  100% { content: '...' }
}
.decoding-notice::after {
  content: '...';
  animation: 3s dotdotdot infinite;
}
.decoding-notice::before {
  position: absolute;
  font-size: 12px;
  transform: translateY(20px);
  color: #666;
  content: 'yes this should be async, but the web audio api is annoying';
}
.header {
  position: sticky;
  z-index: 1;
  top: 0px;

  background-color: #444;
  padding: 8px;

  justify-content: space-between;
  display: flex;
}
.editor {
  display: grid;
  grid-template-columns:
    [waveform] max-content
    [timeline] max-content
    [canvas] 1fr
    [sidebar] max-content
  ;
  padding: 8px;
  background-color: #222;
}
.shortcuts {
  text-align: right;
}
@keyframes blinkborder {
    0% { border: 2px solid red; }
   49% { border: 2px solid red; }
   51% { border: 2px solid #222; }
  100% { border: 2px solid #222; }
}
input.notrack {
  animation: 1s blinkborder infinite;
}

.editor > * {
  margin-left: 8px;
}

.canvas-container {
  position: sticky;
  top: 120px;
  height: min-content;
}
.canvas-container > #canvas {
  position: static;
  max-width: 100%;
  height: calc(100vh - 130px);
}

.loader {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  text-align: center;
  background-color: #808080CC;
}
.loader textarea {
  width: 50%;
  height: 50%;
  display: block;
  margin: 20px auto;
}
/* Timeline */
.timeline {
  margin-left: 8px;
  background-color: black;
  width: 360px;
  position: relative;

  background:
    linear-gradient(
      to right,
      transparent 22px,
      #777 22px,
      #777 24px,
      transparent 24px
    ),
    linear-gradient(
      to bottom,
      #444 50%,
      #333 50%
    );
  background-size: 45px calc(10px * var(--ts-scale));
  background-position-x: 22px;
}
.object-editor {
  transform: translateX(368px);
  position: fixed;
  z-index: 1;

  width: max-content;
  padding: 4px;

  background-color: #333;
  display: grid;
  grid-template-columns: [left] max-content [right] max-content;
  grid-template-rows: repeat(auto-fit);
  grid-column-gap: 4px;
}
.object-editor > input {
  box-shadow: none !important; /* Disable input "validation" red glow*/
  float: right;
}
.timeline-object {
  position: absolute;
  /* left: calc(var(--start) * 1px); */
  /* top: calc(5px * var(--ts-scale) * var(--time)/var(--timestep)); */
  transform: translate(
    calc(var(--start) * 1px),
    calc(5px * var(--ts-scale) * var(--time)/var(--timestep))
  );
  --width: calc((var(--end) - var(--start)) * 1px);
  --height: calc(5px * var(--length)/var(--timestep));
  width: var(--width);
  height: var(--height);

  background-color: gray;
  touch-action: none;
  box-sizing: border-box;
}
.timeline-object.selected {
  border: 2px solid cyan;
}

/* timeline/orb */
.timeline-object.orb {
  background-color: yellow;
  border-radius: 99999px;
  width: 15px;
  height: 15px;
  transform: translate(
    calc(var(--start) * 1px - 2.5px),
    calc(5px * var(--ts-scale) * var(--time)/var(--timestep))
  );
}

/* timeline/keyframe + light*/
.timeline-object.light, .timeline-object.keyframe {
  background-color: var(--color);
  opacity: 0.75;
  height: max-content;
  width: max-content;
  text-align: center;
  font-size: 16px;
  padding: 2px;
}

/* timeline/light */
.timeline-object.light.selected, .timeline-object.keyframe.selected {
  padding: 0px;
}
.timeline-object.light::after {
  content: '💡';
}

/* timeline/keyframe */
.timeline-object.keyframe::before {
  content: '';
  position: absolute;
  width: 2px;
  height: calc(var(--duration) * 5px);
  background-color: #BFFF00;
}
.timeline-object.keyframe::after {
  content: '🔑';
}

.timeline-object .handle {
  position: absolute;
  --handlesize: min(max(8px, calc(var(--width)/10 + 2px)), 15px);
  width: var(--handlesize);
  height: var(--handlesize);
  background-color: #333;
  border: 1px solid gold;
  border-radius: 10px;
}
.timeline-object .handle.handle-side.handle-top {
  top: calc(var(--handlesize)/2 * -1);
  left: calc(50% - var(--handlesize)/2);
}
.timeline-object .handle.handle-side.handle-bottom {
  bottom: calc(var(--handlesize)/2 * -1);
  left: calc(50% - var(--handlesize)/2);
}
.timeline-object .handle.handle-side.handle-left {
  left: calc(var(--handlesize)/2 * -1);
  top: calc(50% - var(--handlesize)/2);
}
.timeline-object .handle.handle-side.handle-right {
  right: calc(var(--handlesize)/2 * -1);
  top: calc(50% - var(--handlesize)/2);
}
.timeline-object .handle.handle-top.handle-left {
  top: calc(var(--handlesize)/2 * -1);
  left: calc(var(--handlesize)/2 * -1);
}
.timeline-object .handle.handle-top.handle-right {
  top: calc(var(--handlesize)/2 * -1);
  right: calc(var(--handlesize)/2 * -1);
}
.timeline-object .handle.handle-bottom.handle-left {
  bottom: calc(var(--handlesize)/2 * -1);
  left: calc(var(--handlesize)/2 * -1);
}
.timeline-object .handle.handle-bottom.handle-right {
  bottom: calc(var(--handlesize)/2 * -1);
  right: calc(var(--handlesize)/2 * -1);
}


.timeline-object.ghost {
  background-color: #666;
}

/* Waveform */
.waveform {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: min-content;
}
.waveform .vue-recycle-scroller {
  width: 80px;
}
.bar-container {
  height: calc(5px * var(--ts-scale));
  width: 80px;
  background-color: #555;
  padding: 0px 0px;
}
.bar-container.odd {
  background-color: #444;
}
.bar {
  height: 100%;
  width: calc(var(--amplitude) * 28px);
  background-color: #BB8888;
  margin: auto;
}
.active .bar {
  background-color: #FF0000;
}
.bar-container.marked {
  background-color: #0000CC;
}
.bar-container.odd.marked {
  background-color: #0000FF;
}
.bar-container::after {
  position: absolute;
  transform: translate(88px, -100%);
  height: calc(5px * var(--ts-scale));
  width: 360px;

  content: '';
  pointer-events: none;
  background-color: transparent;
  opacity: 0.75;
  z-index: 1;
}
.bar-container.marked::after {
  background-color: #3333FF;
}

/* Sidebar */
.sidebar {
  display: flex;
  position: sticky;
  height: min-content;
  min-width: 30px;
  top: 120px;
}
.sidebar .selectors {
  writing-mode: vertical-rl;
  position: sticky;
  top: 120px;
  height: max-content;
}
.hotkeys, .palette {
  min-width: 277px;
}
.hotkey {
  margin-top: 4px;
  border-top: 1px solid gray;
  padding-top: 4px;
}
