#app, #canvas, #debug {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: block;
}

#canvas { z-index: -10 }
#debug  { z-index:  -9 }
#app    { z-index:   0 }

#debug {
  width: 200px;
  height: 200px;
}

@keyframes rise {
  0% {
    transform: translate(-50%, 0px);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50px);
    opacity: 0;
  }
}

/* .map {
  position: fixed;
  font-family: sans-serif;
  background-color: gray;
  color: white;
  padding: 4px;
  top: 0px;
  right: 0px;
} */

.grazetext { color: orange; }
.orbtext { color: #C7BB18; }

.grazetext, .orbtext, .scoretext {
  font-family: sans-serif;
  font-size: 16pt;
  font-weight: bold;
}

.grazetext, .orbtext {
  opacity: 0;
  animation: 2s rise;
}

.scoretext {
  position: fixed;
  left: 50vw;
  top: 12px;
  color: white;
  text-shadow: 2px 2px 0px black;
  font-size: 20pt;
  transform: translateX(-50%);
}
/*
.settings {
  display: grid;
  grid-template-columns: [left] max-content [right] max-content;
  grid-template-rows: repeat(auto-fit);
  grid-column-gap: 4px;
} */
