@import 'editor.css';
@import 'game.css';
@import 'menu.css';
@import 'settings.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 20px;
  color: #EEE;
}
body.playing {
  margin: 0px;
  width: 100vw;
  overflow-x: hidden;
}
body:not(.playing)::before {
  content: ' ';
  background-image: url('../res/texture/tube.png');
  background-size: cover;
  image-rendering: pixelated; /* chrome */
  image-rendering: crisp-edges; /* firefox */
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  top: 0px;
  left: 0px;
  filter: brightness(0.15);
}
body.hidebackground::before {
  opacity: 0;
}
body:not(.playing) #content {
  background-color: rgba(255, 255, 255, 0.15);
  max-width: 1200px;
  padding: 12px;
  margin: auto;
}

a { color: cyan; }
a:visited { color: lightblue; }

h1 {
  text-align: center;
  margin-top: 0px;
}
h2 { margin-bottom: 0px; }
h3 { margin-bottom: 0px; }
