.game-options-ct {
  display: flex;
  margin: auto;
  width: max-content;
}
.game-options {
  display: flex;
  flex-direction: column;
}

.right {
  float: right;
}

.gamebutton {
  display: block;
  color: inherit;
  outline: none;

  border: 2px solid silver;
  padding: 0px 12px;
  margin: 8px;

  text-align: center;
  font-size: 0.5in;

  transition: transform 0.25s, background-position 0.25s;

  --shine: #AAAAAA99;
  background: linear-gradient(
    65deg,
    transparent 20%,
    var(--shine) 20%,
    var(--shine) 40%,
    transparent 40%,

    transparent 70%,
    var(--shine) 70%,
    var(--shine) 75%,
    transparent 75%
  );
  background-position: -5px 0px;
}

.gamebutton.small {
  font-size: 0.22in;
  padding: 0px 6px;
  margin: 0px;
}

.gamebutton.map {
  font-size: 0.22in;
}

.gamebutton:hover {
  --shine: #AAAAAAEE;
  background-position: 0px 0px;
  transform: skew(-5deg);
}

.gamebutton:active {
  transform: scale(0.9) skew(-5deg);
  transition: transform 0s;
}
