.settings {
  display: grid;
  grid-template-columns: max-content max-content 1fr;
  grid-auto-rows: minmax(25px, min-content);
  grid-column-gap: 4px;
  align-items: center;
}

.form-group {
  display: contents;
  font-size: 16pt;
}
.form-group label {
  text-align: right;
}

.form-group input[type='checkbox'] {
  width: 20px;
  height: 20px;
  transform: scale(1.5);
}

.form-group.boolean input {
  width: min-content;
}

.form-group.enum .enum-options button {
  background: none;
  font-size: 12pt;
  border: 2px solid silver;
  color: #EEE;
}
.form-group.enum .enum-options button:disabled {
  background: #FFFFFF66;
}
.form-group.enum .enum-options button:not(:last-child) {
  border-right: none;
}
.form-group.enum .enum-options button:first-child {
  border-top-left-radius: 10px;
}
.form-group.enum .enum-options button:last-child {
  border-bottom-right-radius: 10px;
}
